@import "tailwindcss";

/* Si usas Tailwind */
@layer base {
  :root {
    --font-sans: var(--font-montserrat);
  }

  body {
    font-family: var(--font-montserrat), sans-serif;
  }
}

body {
  font-family: "Montserrat", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));